.price-card {
  width: 28%;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  overflow: hidden;
}

.header {
    color: white;
    line-height: 3rem;
    text-align: center;
    background-color: black;
}
